@import './variables';

*{
    box-sizing: border-box;
    font-size: 14px;
}

body{

    .container{
        .widget{
            color: white;
            border: 1px solid black;
            width: 47vw;
            background-color: $darkBrown;
            margin: 20px 0px;
            padding: 20px 0px 0px 0px;
            font-size: 10px;

            p{
                margin-bottom: 0px;
            }
            .input-range{
                padding-bottom: 20px;
                h4{
                    font-size: calc(1.275rem + .3vw);
                }
                div{
                    width: 70%;
                }

            }
            .output-range{
                .input-range{
                    padding-bottom: 20px;
                    h4{
                        font-size: calc(1.275rem + .3vw);
                    }
                    div{
                        width: 70%;
                    }

                }
                div{
                    padding-left: 20px;
                    h4{
                        font-size: 35px;
                    }

                }
                .boxy{
                    background-color: white;
                    color: black;
                }
            }

        }
    }
    .mezzo{
        width: 50%;
    }
        
    
}