@import './variables';
.input-range{
    & input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
      }
      
    &  input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 4px solid $leafGreen;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */       
      }

    & input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 4px solid $leafGreen;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
    }
    & input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }
      
    &  input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }
      
    & input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height:2px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: $leafGreen;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
      }
      
    & input[type=range]:focus::-webkit-slider-runnable-track {
        background: $leafGreen;
      }
      
    & input[type=range]::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: $leafGreen;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
      }
      
}