@font-face {
    font-family: silk;
    src: url('../assets/fonts/Silk_Serif/Silk-Serif-Bold.otf');
    }
@font-face {
    font-family: sofiaPro;
    src: url('../assets/fonts/Sofia/Sofia-Pro-Regular-Az.otf');
    }
